{% extends 'base.html' %}

{% load static %}
{% block titlee %}contacto{% endblock %}
{% block content %}
   <section>
        {% if 'valido' in request.GET %}

       <div style="color: white;">La informacion ha sido enviada correctamente.</div>
        {% endif %}

       <div class="contenedorFormulario">
           <form action="" method="post">{% csrf_token %} <!--medida de seguridad para evitar suplantacion de envío de informacion mediante forms-->
               <table style="margin: 10px auto;">{{formulario_contacto.as_table}}</table> <!--form.as_table: renderiza el form en forma de tabla, form.as_ul en lista y form.as_p como bloques de parrafo. Importante: encerrarlo con la respectiva etiqueta html.-->
                <button type="submit" style="margin-top: 5px; width: 150px; border-radius: 10px;">Enviar</button>
                <button type="reset" style="margin-top: 5px; width: 150px; border-radius: 10px;">Borrar</button>
            </form>
       </div>
       <!-- <p style="color: white;">{{request.POST}}</p> -->
   </section>
{% endblock %}