{% extends 'base.html' %}

{% load static %}

{% block titlee %}tienda{% endblock %}

{% block content %}
<div class="container-sm">
<section class="row" style="margin: 20px auto;">

{% for producto in productos %}
<div class="col-sm-3">

    <div class="card bg-light" style="width: 100%; margin: 10px 5px auto; text-align: center;">
        <div class="card-header" style="text-transform: uppercase;"><b>Promoción</b></div>
        <img class="card-img-top" style="height: 20rem; width: 100%;" src="{{producto.imagen.url}}" alt="imagen producto">
        <div class="card-body">
            <h4 class="card-title">{{producto.nombre}}</h4>
            <p class="card-text">{{producto.precio|floatformat:'g'}} $</p> <!--|floatformat:0 es para mostrar la variable float con 0 decimales, |floatformat:'g' muestra separacion de miles-->
            <a href="#" class="btn btn-outline-primary">Seleccionar</a>
        </div>
        <div class="card-footer">Gracias</div>
    </div>
</div>


{% endfor %}
</section>
</div>
 <!-- Seccion para seleccionar las categorias -->

{% endblock %}