{% extends 'base.html' %}

{% load static %}

{% block titlee %}tienda{% endblock %}

{% block content %}
<div class="container-sm">
    <div style="background-color: darkslategrey; text-align: center; float: right;" class="p-2 my-2 mx-1 mr-3 text-white">
        <!-- <p>Aca iria el carrito de compras</p> -->
        <!-- <p>Total: {{importe_total_carrito}}</p> -->
        {% include "widget_carrito.html" %}
    </div>
    <section class="row" style="margin: 20px auto;">
    {% for producto in productos %}
        <div class="col-md-4">
            <div class="card bg-light my-2 mx-1 w-100" style="height: 40rem; text-align: center;">
                <div class="card-header" style="text-transform: uppercase;"><b>Promoción</b></div>
                <img class="card-img-top" style="height: 20rem; width: 100%;" src="{{producto.imagen.url}}" alt="imagen producto">
                <div class="card-body">
                    <h4 class="card-title">{{producto.nombre}}</h4>
                    <p class="card-text">{{producto.precio|floatformat:'g'}} $</p> <!--|floatformat:0 es para mostrar la variable float con 0 decimales, |floatformat:'g' muestra separacion de miles-->
                    <a href="" class="btn btn-outline-primary">Detalles</a>
                </div>
                <div class="card-footer">
                    <a href="{% url 'carrito:agregar' producto.id %}" class="btn btn-success">Añadir al carrito</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </section>
</div>
 <!-- Seccion para seleccionar las categorias -->

{% endblock %}